<link rel="stylesheet" href="/css/home.css" />

<div class="search-container">
  <div class="search-element">
    
    <H3>Search Movie:</H3>
    
    <input
      type="text"
      id="search-text"
      class="form-control"
      placeholder="Enter Movie Name"
    />

    <div class="search-list" id="search-list">
      <!-- list here -->
      <!-- <div class="search-list-item"> -->
      <!-- <div class="search-item-thumnail">
                    <img src="./images/avatar.jpg" alt="Avatat Image">
                </div>
                <div class="search-item-info">
                    <h3>Avatat Season Lorem ipsum dolor sit.</h3>
                    <p>2023</p>
                </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<!-- result container -->
<div class="container">
  <div class="result-container">
    <div class="result-grid" id="result-grid">
      <!-- movie inforamation here  -->
      <!-- <div class="movie-poster">
                <img src="./images/avatar.jpg" alt="">
            </div>
            <div class="movie-info">
                <h3 class="movie-titel">avatar</h3>
                <ul class="movie-music-info">
                    <li class="year"> Year:  2023 </li>
                    <li class="rated"> Rated PG-13 </li>
                    <li class="released"> Released: 1 JAN 2023 </li>
                </ul>
                <p class="genr"><b>Genr:  </b> hot romantic</p>
                <p class="writer"><b>writer :
                </b>by docot lorem 10</p>
                <p class="actors"><b>actors: </b>hritik roshan pankaj tripathi manojvajpai</p>
                <p class="plot"><b>plot Lorem: </b>ipsum dolor sit amet consectetur adipisicing elit. Officia, distinctio.</p>
                <p class="language"><b>languag:</b>ipsum dolor sit amet consectetur adipisicing elit. Odit, ab?</p>
                <p class="awards"><b><i class="fa-solid fa-award"></i></b>Nominated for i oscar</p>
            </div> -->
    </div>
  </div>
</div>


<script src="/js/movieData.js"></script>
